
.alpackages
/.vscode
*.app
/builds
/Packages
/Assets/art
/Assets/Audio
/Assets/background
/Assets/Characters
/Assets/Managers
/Assets/Objects
/Assets/Scenes
/Assets/Settings
/Assets/TextMesh Pro
/Assets/UI
/Assets/presets
/Assets/Resources
/Assets/Library
/Library
/vscode
/.vs
/Logs
/obj
/ProjectSettings
/Temp
/UserSettings
.vsconfig
*.csproj
*.htm
*.sln